<% if (photo.exif) { %>
  <h2>Metadata</h2>
  <div class="photo-footer">
    <code><% if (photo.hdr) { %>HDR &middot; <% } %><span title="Aperture"><%= photo.aperture %></span> &middot; <span title="Shutter speed"><%= photo.shutter %>s</span> &middot; <span title="ISO">ISO <%= photo.iso %></span><% if (photo.focal) { %> &middot; <span title="Focal length"><%= photo.focal %></span><% } %></code><br />
    <code><%= photo.camera %> &middot; <%= photo.lens %></code>
  </div>
<% } %>
