<figure class="album-photo<% if (modifier) { %> album-photo-<%= modifier %><% } %>">
  <div class="photo-image-wrapper">
    <img src="<%= post.albumImage %>" alt="<%= post.title %>" class="photo-image" />
  </div>
  <figcaption>
    <div class="photo-meta">
      <%- caption %>

      <h3>
        <a href="<%- config.root %><%- post.path %>">
          <%= post.title %>
        </a>
      </h3>
      <%- partial('_partial/photo/exif', {photo: post}) %>
    </div>
  </figcaption>
</figure>
