<figure class="set-photo<% if (modifier) { %> set-photo-<%= modifier %><% } %>">
  <a href="<%- config.root %><%- post.path %>">
    <img src="<%= post.setImage %>" alt="<%= post.title %>" />
  </a>
  <figcaption>
    <div class="photo-meta">
      <h3><%= post.title %></h3>
      <%- partial('_partial/photo/exif', {photo: post}) %>
      <%- caption %>
    </div>
  </figcaption>
</figure>
