<%
  photos = getPhotosBySlug(['tiger']);
  mostRecent = site.posts.sort('date', -1).toArray();
  landscapes = getPhotosBySlug([
    'brighton-pavilion-twilight',
    'thirlmere',
    'loch-assynt',
    'elphin',
    'loch-skeen',
    'kielder-forest',
    'west-pier-sunset',
    'pitstone-windmill'
  ]);
  wildlife = getPhotosBySlug([
    'tiger',
    'polecat',
    'harvest-mouse-on-wheat',
    'fox',
    'tawny-owl',
    'sunbird',
    'red-panda',
    'great-tit'
  ]);
%>
<main role="main">
  <div class="clearfix container home-pullout">
    <div class="home-pullout-right">
      <% for (var i = 0, l = photos.length; i < l; i++) {
        photo = photos[i];
        photo.filename = photo.filename || photo.slug;
        photo.file = config.image_dir + '1720/' + photo.filename + '.jpg';
      %>
        <div class="photo-image-wrapper">
          <a href="<%= photo.path %>">
            <img src="<%= photo.file %>" class="photo-image" alt="<%= photo.title %>" />
          </a>
        </div>
      <% } %>
    </div>
    <div class="home-pullout-left">
      <p>Paul Hayes is a nature photographer based in Sussex, seeking to capture remarkable landscapes and wildlife.</p>

      <p>You can find him on <a href="https://twitter.com/phayesphoto">Twitter</a>, <a href="https://www.flickr.com/photos/prhayes">Flickr</a>, <a href="https://500px.com/fofr">500px</a> and <a href="https://instagram.com/fofr/">Instagram</a>.</p>

      <p>Photos are available as prints and can be commercially licensed, please <a href="/contact">get&nbsp;in&nbsp;touch</a>.</p>

      <img src="/images/paul-logo-descender-regular-264.png" width="132" alt="Paul Hayes Photography logo, 'Paul' written in the style of a landscape" class="home-pullout-signature" />
    </div>
  </div>

  <div class="gallery container">
    <h2 class="main-content-title page-title">Gallery</h2>

    <h3 class="gallery-title">Most recent</h3>
    <a href="/archive">All photos</a>
    <section class="listing listing-images clearfix">
      <ol>
        <% for (var i = 0, l = mostRecent.length; i < 4; i++) { %>
          <%- partial('_partial/archive-post', {post: mostRecent[i]}) %>
        <% } %>
      </ol>
    </section>

    <h3 class="gallery-title">Landscape</h3>
    <a href="/tag/landscape">All landscapes</a>
    <section class="listing listing-images clearfix">
      <ol>
        <% for (var i = 0, l = landscapes.length; i < l; i++) { %>
          <%- partial('_partial/archive-post', {post: landscapes[i]}) %>
        <% } %>
      </ol>
    </section>

    <h3 class="gallery-title">Wildlife</h3>
    <a href="/tag/wildlife">All wildlife</a>
    <section class="listing listing-images clearfix">
      <ol>
        <% for (var i = 0, l = wildlife.length; i < l; i++) { %>
          <%- partial('_partial/archive-post', {post: wildlife[i]}) %>
        <% } %>
      </ol>
    </section>
  </div>
</main>
