<%
  photo = page;
%>
<main role="main">
  <article class="container single-photo clearfix" id="photo">
    <header class="photo-header">
      <h1 class="main-content-title photo-title">
        <%= photo.title %>
      </h1>
    </header>
    <div class="photo-image-wrapper photo-beyond-margins">
      <img src="<%= photo.image %>" class="photo-image" alt="<%= photo.title %>" />
      <%- partial('_partial/post/nav', {post: photo}) %>
    </div>
    <div class="photo-content">
      <%- photo.content %>
    </div>
    <div class="photo-meta">
      <%- partial('_partial/post/published', {post: photo}) %>
      <%- partial('_partial/photo/external', {photo: photo}) %>
      <%- partial('_partial/photo/exif', {photo: photo}) %>
      <%- partial('_partial/photo/tags', {photo: photo}) %>
    </div>
  </article>
</main>
