<%
  photo = page;
%>
<main role="main">
  <article class="container single-photo clearfix" id="photo">
    <header class="article-header">
      <%- partial('_partial/post/published', {post: photo, link: true}) %>
      <h1 class="main-content-title photo-title">
        <%= photo.title %>
      </h1>
    </header>
    <div class="photo-image-wrapper photo-beyond-margins">
      <img src="<%= photo.image %>" class="photo-image" alt="<%= photo.title %>" />
      <%- partial('_partial/post/nav', {post: photo}) %>
    </div>
    <div class="article-content photo-content">
      <%- photo.content %>
    </div>
    <div class="photo-meta">
      <h2>Purchase</h2>
      <p>
        <a href="/contact?prints">Order prints</a>
        <% if (!photo.licence_message) { %>
          <br /><a href="/contact?licences">Licence photo</a>
        <% } else { %>
          <br /><%= photo.licence_message %>
        <% } %>
      </p>
      <%- partial('_partial/photo/external', {photo: photo}) %>
      <% if (photo.exif) { %>
        <h2>Metadata</h2>
        <%- partial('_partial/photo/exif', {photo: photo}) %>
      <% } %>
      <%- partial('_partial/photo/tags', {photo: photo}) %>
    </div>
  </article>
</main>
